body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: #000;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.text-green {
  color: #08d870;
}

.text-red {
  color: #d8083c;
}

.SetupScreen {
  background: black;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SetupScreen__content {
  width: clamp(0px, 65%, 780px);
  margin: 0 auto;
  padding: 64px;
}

.SetupScreen__header {
  color: rgba(255, 255, 255, 0.6);
  font-size: clamp(0px, 2vw, 24px);
  font-weight: normal;
  user-select: none;
}

.SetupScreen__text {
  color: #fff;
  font-size: clamp(0px, 4vw, 48px);
  font-weight: bold;
  user-select: none;
}
.SetupScreen__text--small {
  margin-top: clamp(0px, 2vw, 24px);
  font-size: clamp(0px, 2vw, 24px);
  font-weight: normal;
  color: rgba(255, 255, 255, 0.8);
}
.SetupScreen__text a {
  color: #fff;
}

.SetupScreen__goalInput {
  display: inline-block;
  font: inherit;
  text-align: center;
  color: #08d870;
  background: none;

  width: 0px;
  min-width: clamp(0px, 6vw, 72px);
  max-width: 100%;
  padding: clamp(0px, 1vw, 12px) 0;

  border: none;
  border-bottom: 4px solid rgba(3, 184, 93, 0.3);
}
.SetupScreen__goalInput:focus {
  border-bottom-color: rgba(3, 184, 93, 1);
  outline: none;
}

.SetupScreen__buttonContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: clamp(0px, 2vw, 24px);
}
.SetupScreen__button {
  border: none;
  border-radius: clamp(0px, 0.6vw, 8px);
  font-size: clamp(0px, 2vw, 24px);
  font-weight: bold;
  padding: clamp(0px, 1.5vw, 18px) clamp(0px, 4vw, 48px);
  cursor: pointer;
  margin-top: clamp(0px, 2vw, 24px);
}
.SetupScreen__button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.SetupScreen__button--continue {
  background: #fff;
  color: #000;
}
.SetupScreen__button--back {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.SetupScreen__button--back:hover,
.SetupScreen__button--back:focus {
  background: rgba(255, 255, 255, 0.15);
  outline: none;
}

.DaysSelector {
  display: flex;
  margin-top: clamp(0px, 2vw, 24px);
}
.DaysSelector__day {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  width: clamp(0px, 6vw, 72px);
  height: clamp(0px, 6vw, 72px);
  margin-right: clamp(0px, 1vw, 12px);
  cursor: pointer;
}
.DaysSelector__day--on {
  /* background: #03b85d;
  box-shadow: 0 3px 8px #08d87066; */
  background: #fff;
  color: #000;
}
.DaysSelector__day:focus-within {
  outline: auto;
}
.DaysSelector__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}
.DaysSelector__dayText {
  text-transform: uppercase;
  font-size: clamp(0px, 3vw, 36px);
}

.SetupScreen__textarea {
  width: 100%;
  font: inherit;
  font-size: clamp(0px, 3vw, 36px);
  background: #000;
  border: none;
  margin-top: clamp(0px, 2vw, 24px);
  resize: none;
}
.SetupScreen__textarea::placeholder {
  color: rgba(255, 255, 255, 0.2);
}

.MainScreen {
  background: black;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainScreen__content {
  width: clamp(0px, 65%, 780px);
  margin: 0 auto;
  padding: 64px;
}

.MainScreen__header {
  color: #fff;
  font-size: clamp(0px, 6vw, 72px);
  user-select: none;
  margin: 0;
  margin-bottom: 64px;
}

.MainScreen__completedBtn {
  background: #03b85d;
  box-shadow: 0 3px 8px #08d87066;
  border: none;
  border-radius: clamp(0px, 0.6vw, 8px);
  font-size: clamp(0px, 3vw, 36px);
  color: #fff;
  font-weight: bold;
  padding: clamp(0px, 2vw, 24px) clamp(0px, 6vw, 72px);
  cursor: pointer;
  outline: none;
}

.MainScreen__resetButton {
  position: fixed;
  bottom: 10px;
  right: 10px;

  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: clamp(0px, 1.5vw, 18px);
  border: none;
  border-radius: clamp(0px, 0.6vw, 8px);
  padding: clamp(0px, 2vw, 24px) clamp(0px, 4vw, 48px);

  cursor: pointer;
}

.MainScreen__streakContainer {
  display: block;
  display: flex;
  justify-content: center;
  margin-top: clamp(0px, 4vw, 48px);
  margin-bottom: clamp(-24px, -2vw, 0px);
}
.StreakBadge {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  margin: 0 auto;
  margin-top: clamp(0px, 6vw, 72px);
  padding: clamp(0px, 2vw, 24px) clamp(0px, 4vw, 48px);
  font-size: clamp(0px, 1.5vw, 18px);
  font-weight: 500;
  border-radius: clamp(0px, 1vw, 12px);
  user-select: none;
}
.StreakBadge > span {
  font-weight: bold;
}
.StreakBadge--good {
  background: rgba(3, 184, 93, 0.1);
  color: #08d870;
}
.StreakBadge--good > span {
  color: #53f0a1;
}
.StreakBadge--bad {
  background: rgba(179, 2, 46, 0.15);
  color: #d8083c;
}
.StreakBadge--bad > span {
  color: #f5416e;
}

.SuccessScreen {
  background: #03b85d;
  position: fixed;
  inset: 0;
  overflow: hidden;
}
.SuccessScreen__inner {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SuccessScreen__content {
  width: clamp(0px, 65%, 780px);
  margin: 0 auto;
  padding: 64px;
}
.SuccessScreen__header {
  color: #fff;
  font-size: clamp(0px, 6vw, 72px);
  user-select: none;
  margin: 0;
  margin-bottom: 64px;
}
.SuccessScreen__undoBtn {
  background: transparent;
  color: #fffd;
  font-size: clamp(0px, 2vw, 24px);
  border: none;
  padding: 0;
  cursor: pointer;
}

.SuccessScreen--visible.SuccessScreen--allowAnimation .SuccessScreen__content {
  animation: shake 400ms ease-in-out 300ms 1 forwards;
}

@keyframes shake {
  0% {
    transform: none;
  }
  40% {
    transform: translateY(-10%);
  }
  70% {
    transform: translateY(6%);
  }
  90% {
    transform: translateY(-2%);
  }
  100% {
    transform: none;
  }
}

.SuccessScreen__curve {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  transform-origin: top center;
}

.SuccessScreen--visible.SuccessScreen--allowAnimation .SuccessScreen__curve {
  display: block;
  animation: flip 400ms cubic-bezier(1, -0.25, 0.55, 1.2) 1 forwards;
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(90deg);
  }
}

.UserMenu {
  position: fixed;
  top: 16px;
  left: 16px;
}
.UserMenu__button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border-radius: 9999px;
  opacity: 0.3;

  background: none;
  border: none;
  margin: 0;
  padding: 0;

  transition: opacity 100ms ease-in-out;
}
.UserMenu__button:hover,
.UserMenu--open .UserMenu__button {
  opacity: 0.4;
}
.UserMenu__popup {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  width: 240px;
  background: #1b1b1c;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  transform: scale(0.95);
  transform-origin: top left;

  transition: all 100ms ease-in-out;
}
.UserMenu--open .UserMenu__popup {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.UserMenu__area {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.UserMenu__area--goal {
  background: #2c2c2e;
}
.UserMenu__menuButton {
  display: block;
  background: #2c2c2e;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 16px;
  cursor: pointer;
}
.UserMenu__menuButton--signin {
  cursor: not-allowed;
}
.UserMenu__menuButton--reset {
  background: rgba(255, 0, 0, 0.15);
  color: #ff5e5e;
  margin-top: 16px;
  padding: 6px 8px;
  align-self: flex-end;
  box-shadow: none;
}

.UserMenu__goalDescription {
  margin-bottom: 8px;
}
.UserMenu__goalText {
  color: #08d870;
  font-weight: 500;
}
.UserMenu__goalDays {
  display: flex;
}
.UserMenu__goalDay {
  flex-grow: 1;
  height: 28px;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #58585f;

  display: flex;
  justify-content: center;
  align-items: center;
}
.UserMenu__goalDay--active {
  background: #444447;
  color: #fff;
  border-radius: 4px;
}
.UserMenu__goalDay--prevActive {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.UserMenu__goalDay--nextActive {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
