.DaysSelector {
  display: flex;
  margin-top: clamp(0px, 2vw, 24px);
}
.DaysSelector__day {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  width: clamp(0px, 6vw, 72px);
  height: clamp(0px, 6vw, 72px);
  margin-right: clamp(0px, 1vw, 12px);
  cursor: pointer;
}
.DaysSelector__day--on {
  background: #fff;
  color: #000;
}
.DaysSelector__day:focus-within {
  outline: auto;
}
.DaysSelector__checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}
.DaysSelector__dayText {
  text-transform: uppercase;
  font-size: clamp(0px, 3vw, 36px);
}
